extends head
block title
    title Office
block content
    .outer.row
        h2.text-center 教务处管理
        .col-md-6.col-xs-10
            - if(user === ''||user === undefined)
                .alert.alert-warning you're not not in
                    a(href="#",data-target="#toLogin",data-toggle="modal") login
                include login
            -else
                ul.breadcrumb
                    li 标题
                    li 老师
                    li 考试时间
                    li 留言                 
                .tab-content
                    .tab-pane.in.active#paper
                        for data in datas
                            include changeinfo
                            .modal.fade(tabindex="-1",role="dialog",)#delete
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            h4 确认删除？
                                            .action-button
                                                button(data-dismiss="modal").btn.btn-default Cancel
                                                button(onclick = `delpaper(${data.id})`).btn.btn-primary Yes
                            .breadcrumb#well-bottom
                                //- a(href = '#',data-target=`#changeinfo${data.id}`,data-toggle = "modal") 点击修改信息  
                                li #{data.sbj}                                  
                                li #{data.name}
                                li #{data.time}
                                li #{data.note}
                                .dropdown
                                    button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown') 操作
                                    ul.dropdown-menu(role='menu')
                                        li(role='presentation')
                                            a(href = '#',role="menuitem",tabindex="-1",data-target=`#changeinfo${data.id}`,data-toggle = "modal") 点击修改信息  
                                        li(role='presentation')
                                            a(href = data.file ,tabindex="-1",target="_blank") 点击预览试卷
                                        li(role='presentation')
                                            a(href = "#",role="menuitem",tabindex="-1",data-target="#delete",data-toggle = "modal") 点击删除
                                //- p#well-bottom
                                //-     a(href = data.file target="_blank") 点击预览试卷
                                //-     a(href = "#",data-target="#delete",data-toggle = "modal") 点击删除